spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  h2:
    console:
      enabled: true
server:
  port: 80

jwt:
  secret: "ZB67NHMI84Y20zQVFSf8nZfChJoG6rZ+16x8HgzWuw8=" #base64 32byte
  token:
    refresh-expires: 7200000 #2시간
    access-expires: 7200000
