<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping Mall</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script src="/js/user/mypage-address.js" type="module" defer></script>
    <script src="/js/login-logout.js" type="module" defer></script>
    <link rel="stylesheet" href="/css/common/common.css" />
    <style>
        .mypage-title a {
            font-size: 1.25rem;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }

        .larger-text {
            font-size: 1rem;
            font-weight: bold;
        }

        .modal-card {
            width: 500px;
        }

    </style>

</head>
<body>

<!-- 네비게이션 바 -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<section class="section">
    <div class="container">
        <div class="columns">
            <aside class="column is-3">
                <nav class="menu">
                    <p class="menu-label mypage-title">
                        <a href="/users/me">마이 페이지</a>
                    </p>
                    <ul class="menu-list">
                        <li class="larger-text">쇼핑 정보</li>
                        <li><a href="/users/me/purchase">구매 내역</a></li>
                        <li><a href="/selling">판매 내역</a></li>
                        <li class="larger-text">내 정보</li>
                        <li><a href="/users/me/account">계정 관리</a></li>
                        <li><a href="/users/me/address">주소록</a></li>
                    </ul>
                </nav>
            </aside>

            <!-- 주소록 섹션 -->
            <div class="column is-9">
                <div class="box">
                    <div class="level">
                        <div class="level-left">
                            <p class="title">주소록</p>
                        </div>
                        <div class="level-right">
                            <button class="button is-link" id="addAddress"
                            >새 배송지 추가</button>
                        </div>
                    </div>
                    <hr />

                    <!-- 배송지 정보를 표시할 영역 -->
                    <div id="address-container"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- 새 배송지 추가 모달 -->
<div class="modal" id="addressModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">새 배송지 추가</p>
        </header>
        <section class="modal-card-body">
            <form id="addressForm">
                <div class="field">
                    <label class="label">이름</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="수령인을 입력하세요" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">휴대폰번호</label>
                    <div class="control">
                        <input class="input" type="tel" placeholder="휴대폰 번호를 입력하세요" />
                    </div>
                </div>

                <!-- 우편번호 필드 -->
                <div class="field">
                    <label class="label">우편 번호</label>
                    <div class="control has-icons-right">
                        <input class="input" type="text" id="postalCodeInput" placeholder="우편 번호를 검색하세요" readonly />
                        <span class="icon is-small is-right">
              <i class="fas fa-search"></i>
            </span>
                        <button class="button is-link" id="searchAddressButton"
                        >우편번호 검색</button>
                    </div>
                </div>

                <!-- 주소 필드 -->
                <div class="field">
                    <label class="label">주소</label>
                    <div class="control">
                        <input class="input" id="address1Input" type="text" placeholder="주소가 자동으로 입력됩니다." readonly />
                    </div>
                </div>

                <div class="field">
                    <label class="label">상세 주소</label>
                    <div class="control">
                        <input class="input" id="address2Input" type="text" placeholder="상세 주소를 입력하세요" />
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button" id="save">저장하기</button>
            <button class="button" id="close">취소</button>
        </footer>
    </div>
</div>

<!-- 배송지 수정 모달 -->
<div class="modal" id="editModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">배송지 수정하기</p>
        </header>
        <section class="modal-card-body">
            <form id="editForm">
                <div class="field">
                    <label class="label">이름</label>
                    <div class="control">
                        <input class="input" id="editNameInput" type="text" placeholder="수령인을 입력하세요" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">휴대폰번호</label>
                    <div class="control">
                        <input class="input" id="editPhoneInput" type="tel" placeholder="휴대폰 번호를 입력하세요" />
                    </div>
                </div>

                <!-- 우편번호 필드 -->
                <div class="field">
                    <label class="label">우편 번호</label>
                    <div class="control has-icons-right">
                        <input class="input" type="text" id="editPostalCodeInput" placeholder="우편 번호를 검색하세요" readonly />
                        <span class="icon is-small is-right">
              <i class="fas fa-search"></i>
            </span>
                        <button class="button is-link" id="editSearchAddressButton"
                        >우편번호 검색</button>
                    </div>
                </div>

                <!-- 주소 필드 -->
                <div class="field">
                    <label class="label">주소</label>
                    <div class="control">
                        <input class="input" id="editAddress1Input" type="text" placeholder="주소가 자동으로 입력됩니다." readonly />
                    </div>
                </div>

                <div class="field">
                    <label class="label">상세 주소</label>
                    <div class="control">
                        <input class="input" id="editAddress2Input" type="text" placeholder="상세 주소를 입력하세요" />
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button" id="editSave">저장하기</button>
            <button class="button" id="editClose">취소</button>
        </footer>
    </div>
</div>





</body>