<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>네비게이션바</title>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="navbar">
    <div class="container mt-3">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/elice-rabbit.png" width="30" height="30" />
                <span class="has-text-link">Shopping Mall</span>
            </a>

            <a
                    role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasicExample"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
                <li>
                    <a id="cartButton" href="/cart/summary" aria-current="page">
                        <span class="icon">
                          <i class="fas fa-cart-shopping"></i>
                        </span>
                        <span>카트</span>
                    </a>
                    <a id="loginButton" href="/users/login">
                        <span class="icon">
                          <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </span>
                        <span>로그인</span>
                    </a>

                    <a id="logoutButton" href="/">
                        <span class="icon">
                          <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </span>
                        <span>로그아웃</span>
                    </a>

                    <a id="adminButton" onclick="adminButtonClick(event)" aria-current="page">
                        <span class="icon">
                          <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        </span>
                        <span>관리자</span>
                    </a>

                    <a id="myButton" href="/users/me">
                        <span class="icon">
                          <i class="fas fa-user" aria-hidden="true"></i>
                        </span>
                        <span>My</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <th:block laytout:fragment="navbar_js">
        <script src="/js/navbar/header-navbar.js" type="module" defer></script>
        <script src="/js/login-logout.js" type="module" defer></script>
    </th:block>
</nav>
</body>
</html>