/* 카테고리 */
.flex-box {
    display: flex;
}

.category-list {
    list-style: none;
    margin-left: 27px;
}

.category-li-tab {
    display: inline-flex;
    height: 100%;
    padding-bottom: 6px;
    padding-top: 15px;
    text-decoration: none; /* 링크의 밑줄을 없애고 싶다면 추가 */
}

.category-li-span {
    color: #222;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;
}

.category-container {
    margin-left: 280px;
    width: 777px !important;
    height: 43.5px !important;
}

.section {
    padding: 0px;
}